<div class="padding">
    <div class="component-header">
        <div *ngIf="currentArtistId$ | async as currentArtistId" class="back-button-wrapper">
            <a (click)="back()"
               class="dashboard-fa-button"
               title="Back to Search Results">
                <i class="fa-solid fa-circle-left fa-2x"></i>
            </a>
        </div>
    </div>

    <ng-container *ngIf="artistId else search">
        <div *ngIf="artistLoading; else artistLoaded" class="spinner-wrapper">
            <mat-spinner [color]="'primary'"></mat-spinner>
        </div>

        <ng-template #artistLoaded>
            <section *ngIf="artist$ | async as artist">
                <div class="search-results">
                    <div class="card">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title> <h1>{{artist.name}}</h1> </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </div>

                    <div class="card">
                        <div class="artist-picture">
                            <div *ngIf="artist.links.length > 0">
                                <div *ngFor="let link of artist.links">
                                    <div *ngIf="link.type === 'image'">
                                        <img class="artist-image" src="{{link.source}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <mat-card>
                            <mat-card-content>
                                <p>Artist type: {{artist.artistType}}</p>
                                <p>{{artist.disambiguation}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="card">
                        <mat-card>
                            <mat-card-content>
                                <p>Origin: {{artist.city}}, {{artist.country}}</p>
                                <p>{{artist.establishedYear}} - {{artist.disbandedYear}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="card">
                        <mat-card>
                            <mat-card-content>
                                <p>{{artist.wikiIntro}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="card">
                        <mat-card>
                            <mat-card-content>
                                <p *ngIf="artist.onTour === true">{{artist.name}} is currently on tour!</p>
                                <p *ngIf="artist.onTour === false">{{artist.name}} is currently not touring.</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="card">
                        <mat-card>
                            <mat-card-content>
                                <p class="last-fm"><a href="{{artist.lastFmUrl}}" target="_blank">LastFm</a> stats:</p>
                                <ul>
                                    <li>Listeners: {{artist.lastFmListenerCount}}</li>
                                    <li>Plays: {{artist.lastFmPlayCount}}</li>
                                </ul>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="card">
                        <mat-card>
                            <mat-card-content>
                                <div *ngIf="artist.links.length > 0">
                                    <div *ngFor="let link of artist.links">
                                        <div *ngIf="link.type === 'spotify'">
                                            <a href="{{link.source}}" target="_blank"
                                               class="dashboard-fa-button outside-link"
                                               title="Listen to this artist on Spotify">
                                                <i class="fa-brands fa-spotify fa-2x"></i>
                                            </a>
                                        </div>
                                        <div *ngIf="link.type === 'discogs'">
                                            <a href="{{link.source}}" target="_blank"
                                               class="dashboard-fa-button outside-link"
                                               title="Go to this artist's Discogs page">
                                                <i class="fa-solid fa-compact-disc fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </section>
        </ng-template>
    </ng-container>

    <ng-template #search>
        <div class="search-form padding">
            <form [formGroup]="searchBox" (ngSubmit)="searchArtist()">
                <label>
                    <input type="text" class="search-field" formControlName="artistSearchTerm">
                    <button type="submit" class="button-search" [disabled]="!searchBox.valid">Search</button>
                </label>
            </form>
            <button class="button-search" (click)="clear()">Clear</button>
        </div>

        <div *ngIf="!searchBox.value.artistSearchTerm && !searchLoading" class="search-form padding">
            <h5>Enter a search term</h5>
        </div>

        <div *ngIf="searchLoading; else searchLoaded" class="spinner-wrapper">
            <mat-spinner [color]="'primary'"></mat-spinner>
        </div>

        <ng-template #searchLoaded>
            <section *ngIf="searchResults$ | async as searchResults">
                <div class="results-wrapper padding">
                    <div *ngIf="searchResults.length > 0 && artistSearchTerm != ''">
                        <h5 class="search-form padding">Results for "{{ artistSearchTerm }}":</h5>
                        <div class="search-results">
                            <mat-list class="width">
                                <mat-list-item 
                                *ngFor="let result of searchResults" 
                                (click)="viewArtist(result.id)" 
                                class="card result-row"
                                >
                                    <span> {{result.name}} </span>
                                    <span> {{result.establishedYear}} </span>
                                    <span> {{result.country}} </span>
                               </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </section>
        </ng-template>

    </ng-template>

</div>
