<div class="text-center padding">
    <img class="logo-2" src="/assets/logo2.png">
</div>

<div class="sidebar-content">
    <ul class="text-center padding">
        <li *ngFor="let sidebarLink of sidebarLinks" class="nav-item">
            <a class="button-sidebar" (click)="changeActiveTab(sidebarLink.type)"
               [ngClass]="sidebarLink.type === activeTab ? 'active-tab' : ''">
                <span>{{ sidebarLink.title }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="button-sidebar" (click)="resetState()">
                <span>Reset History</span>
            </a>
        </li>
    </ul>
</div>
