html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background: #3F72AF;
    overflow: auto;
}

.dashboard {
    padding-left: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 25px;
}

.content {
    height: 100%;
    width: 100%;
    padding-top: 125px;
    display: flex;
    justify-content: center;
    background: #DBE2EF;
    overflow: auto;
}

.header-fixed {
    position: fixed; 
    right: 0;
    width: calc(100% - 300px);
    z-index: 10;
    height: 125px;
    background: #DBE2EF;
    border-bottom: 1px solid #3F72AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: #3f72af 0 0 10px
}

.header-content {
    display: flex;
    justify-content: space-between;
    color: #3F72AF;
    flex-wrap: wrap;
    align-items: baseline;
}

.component-header {

}

h1, h2, h3, h4, h5, p, span, li, a {
    font-family:'Roboto',sans-serif;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

label {
    margin-bottom: 0;
}

.logo {
    height: 500px;
    width: 500px;
}

.logo-2 {
    height: 100px;
    width: 100px;
}

.width {
    width: 100%;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-form {
    display: flex;
    justify-content: center;
}

.artist-details {
    /*justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 200px 200px 100px;
    grid-template-areas:"name name picture picture"
                        "wiki wiki picture picture"
                        "wiki wiki facts facts"
                        "wiki wiki links links";*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
}

.artist-facts, .artist-wiki, .artist-links {
    padding: 10px;
    margin: 10px;
    background-color: #eceff1;
    color:#112D4E;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.artist-name {
    grid-area: name;
    padding: 10px;
    margin: 10px;
    color:#112D4E;
    text-align: center;
}

.artist-picture {
    grid-area: picture;
}

.artist-image {
    border-style: solid;
    margin: 10px;
}

.artist-facts {
    padding: 10px;
    margin: 10px;
    grid-area: facts;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:"facts1 facts2"
                        "facts3 facts4";
}

.facts-1 {
    grid-area: facts1;
}

.facts-2 {
    grid-area: facts2;
}

.facts-3 {
    grid-area: facts3;
}

.facts-4 {
    grid-area: facts4;
}

.last-fm {
    margin-bottom: 0;
}

.artist-wiki {
    grid-area: wiki;
}

.artist-links {
    grid-area: links;
}

.release-group-details {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.release-group-column {
    width: 375px;
}

.outside-link {
    float: left;
    padding: 5px;
    margin: 5px 10px;
}

a.dashboard-fa-button {
    color: #112D4E;
    text-decoration: none;
}

a.dashboard-fa-button:hover {
    text-decoration: none;
    color: #3F72AF;
}

.search-field {
    font-size: 20px;
    position: relative;
    margin-right: 30px;
}

.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
}

.search-result-content {
    justify-content: space-between;
}

.result-row span {
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button.button-search {
    display:inline-block;
    padding:0.5em 2.0em;
    border:0.15em solid #112D4E;
    margin:0 0.3em 0.3em 0;
    border-radius:2.0em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Seravek',sans-serif;
    font-weight:300;
    color:#112D4E;
    text-align:center;
    transition: all 0.2s;
    background-color: #DBE2EF;
}

button.button-search:hover {
    color:#DBE2EF;
    background-color:#112D4E;
}

a.button-sidebar {
    display:inline-block;
    padding:1.0em 3.0em;
    border:0.15em solid #DBE2EF;
    margin:0 0.3em 1.0em 0;
    border-radius:2.0em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#DBE2EF;
    text-align:center;
    transition: all 0.2s;
    width: 180px;
}
a.button-sidebar:hover {
    color:#000000;
    background-color:#DBE2EF;
}

.active-tab {
    background-color:#DBE2EF;
}

@media all and (max-width:30em) {
    a.button-sidebar{
        display:block;
        margin:0.4em auto;
    }
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
