<div class="header-content">
    <span *ngIf="activeTab == home">
        <h2>
            Music Explorer
        </h2>
    </span>

    <span *ngIf="activeTab != home">
        <h2>
            <i 
                class="fa-solid"
                [ngClass]="
                    activeTab === artists ? 'fa-microphone-lines' : 
                    activeTab === releases ? 'fa-compact-disc' : 
                    activeTab === lastfm ? 'fa-last-fm' : 
                    ''
                "
            ></i> {{ activeTab }}
        </h2>
    </span>

    <span *ngIf="scrobblingEnabled">
        <h2> Scrobbling Enabled! </h2>
    </span>
</div>